html, body { 
    height: 100%; 
    padding: 0; 
    margin: 0; 
    background-color: #FAFBFC;
}

button{
    width: 50%; height: 45vh; float: left;
}
#answer1{
    background-color: #01D05B; font-size:7em;
}
#answer2{
    background-color: #2F9FC5; font-size:7em;
}
#answer3{
    background-color: #D3509B; font-size:7em;
}
#answer4{
    background-color: #F97216; font-size:7em;
}

#button{
    text-align: center;
    font-size: 10 rem;
}
#nameText{
    font-family: 'Raleway', sans-serif;
    padding: 0px 10px;
    font-size: 2em;
}
#scoreText{
    font-family: 'Raleway', sans-serif;
    padding: 0px 10px;
    font-size: 2em;
}
#message{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 35px;
}